<div class = "content">
  <div class = "col-md-12">
    <div class = "card">
      <div class = "card-header"><h5 class = "title">Ürün Ekle</h5></div>
      <div class = "card-body">
        <form [formGroup] = "productAddForm">

          <label class = "mx-1" for = "productName">Ürün Adı</label>
          <div class = "form-group mb-3">
            <input type= "text" id= "productName" formControlName= "productName" class= "form-control" placeholder= "Ürün adı"/>
          </div>

          <label class = "mx-1" for = "categoryId">Kategori</label>
          <div class = "form-group mb-3">
            <input type= "number" id= "categoryId" formControlName= "categoryId" class= "form-control" placeholder= "Kategori"/>
          </div>

          <label class = "mx-1" for = "unitsInStock">Stok Adedi</label>
          <div class = "form-group mb-3">
            <input type= "number" id= "unitsInStock" formControlName= "unitsInStock" class= "form-control" placeholder= "Stok Adedi"/>
          </div>

          <label class = "mx-1" for = "unitPrice">Birim Fiyatı</label>
          <div class = "form-group mb-3">
            <input type= "number" id= "unitPrice" formControlName= "unitPrice" class= "form-control" placeholder= "Fiyatı"/>
          </div>

        </form>
      </div>
      <div class = "card-footer">
        <button class = "btn btn-fill btn-success" (click) = "add()">Ekle</button>
      </div>
    </div>
  </div>
</div>
